.sidebar{
    background-color: rgba(0, 0, 0, 0.2);
}
.active{
    background-color: #FFF8B7;
    color: #262626;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .sidebar .item span, .sidebar .fa-caret-right{
        display: none;
    }
}